In [2]:
d1= {'names': ['Lashi','Sanju','Maneesha'],'rollno': [14005036,14005043,14003581]}
d1

{'names': ['Lashi', 'Sanju', 'Maneesha'],
 'rollno': [14005036, 14005043, 14003581]}

In [3]:
d1['names']

['Lashi', 'Sanju', 'Maneesha']

In [4]:
d1['rollno']

[14005036, 14005043, 14003581]

In [5]:
d1['names'][1]

'Sanju'

In [9]:
d1.keys()

dict_keys(['names', 'rollno'])

In [11]:
d1.values()

dict_values([['Lashi', 'Sanju', 'Maneesha'], [14005036, 14005043, 14003581]])

In [18]:
thisdict = dict(name="Sanju", rollno="14005043")
print(thisdict)

{'name': 'Sanju', 'rollno': '14005043'}

In [22]:
len(d1['names'])

3

In [27]:
len(d1['names'])
x= list(d1.values())
len(x[0])

3

In [42]:
for i in range(len(d1['names'])):
    print("student",i+1, end= " ")
    print(d1['names'][i],d1['rollno'][i])

student 1 Lashi 14005036
student 2 Sanju 14005043
student 3 Maneesha 14003581

In [43]:
names= d1['names']
type(names)

list

In [44]:
names= d1['names']
type(names)
names

['Lashi', 'Sanju', 'Maneesha']

In [48]:
for i,v in enumerate(names,1):
    print(i,v)

1 Lashi
2 Sanju
3 Maneesha

In [49]:
d1.items()

dict_items([('names', ['Lashi', 'Sanju', 'Maneesha']), ('rollno', [14005036, 14005043, 14003581])])

In [51]:
marks={}.fromkeys(names,55)
marks

{'Lashi': 55, 'Sanju': 55, 'Maneesha': 55}

In [52]:
d1.get('names')

['Lashi', 'Sanju', 'Maneesha']

In [55]:
d1.get('salary','doesnt exist')

'doesnt exist'

In [61]:
#input -> name1 34 name2 45
#output -> {'name1':55, 'name2': 45}

thisdict = dict(sanju="55", maneesha="65")

print(thisdict)

{'sanju': '55', 'maneesha': '65'}

In [65]:
n=[]
s={}
d= {}

for i in l:
    if i.isdigit():
        n.append(i)
    else:
        s.append(i)
        
for j in range(len(s)):
    d[s[i]=int[i]]
        
print(d)

SyntaxError: invalid syntax (<ipython-input-65-f2cff4faf322>, line 13)

In [66]:
print(type(5))

<class 'int'>

In [67]:
int.__add__(4,5)

9

In [68]:
int.__sub__(5,4)

1

In [69]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [70]:
int.__add__(98765,23)

98788

In [72]:
int.__mul__(9,34)

306

In [76]:
int.__divmod__(10,100)

(0, 10)

In [80]:
int.__mod__(10,100)   #for finding remainder

10

In [82]:
hash(23)

23

In [83]:
hash('a')

-8641654970163869280

In [84]:
hash('b')

-7945551318011075681

In [90]:
def range1(s,st=0,inc=1):
    print(st,s,inc)
range1(10)
range1(1,10)

0 10 1
10 1 1

In [91]:
def add(a=0,b=0):
    return a+b
add()

0

In [92]:
def add(a=0,b=0):
    return a+b
add(6)

6

In [93]:
def add(a=0,b=0):        #default arguments
    return a+b
add(6,5)

11

In [94]:
print("Hi", end= "$")
print("Hello")

Hi$Hello

In [96]:
def add(a,b):        #default arguments
    return a+b
add(6,10)

16

In [97]:
print("Hi", sep= "$")
print("Hello")

Hi
Hello

In [101]:
def add(a,b):        #default arguments
    return a+b
add(b=6,a=10)

16

In [35]:
def sm(*arg):
    s=0
    for ki in arg:
        sm(1,2,3,4,5,6,7,8,9,"exit", 45)

In [115]:
# 5,6,'why',6,7,'no',8,9,'quit',67
#result -> invalid

In [2]:
def averageRange(lb,ub):
    sum=0
    for i in range(lb,ub+1):
        sum+= i
        count= ub-lb+1
    return sum/count
averageRange(153,205)

179.0

In [27]:
c= "Lashitha Vishnu Priya"
clist= []
ct=[]
for i in c:
    if i not in clist:
        clist.append(i)
print(clist)

['L', 'a', 's', 'h', 'i', 't', ' ', 'V', 'n', 'u', 'P', 'r', 'y']

In [28]:
for i in clist:
    ct.append(c.count(i))
print(ct)

[1, 3, 2, 3, 3, 1, 2, 1, 1, 1, 1, 1, 1]

In [29]:
d={}
for i in range(len(ct)):
    d[clist[i]]= ct[i]
print(d)

{'L': 1, 'a': 3, 's': 2, 'h': 3, 'i': 3, 't': 1, ' ': 2, 'V': 1, 'n': 1, 'u': 1, 'P': 1, 'r': 1, 'y': 1}

In [30]:
for k,v in d.items():
    if v== max(list(d.values())):
        print(k,v)

a 3
h 3
i 3

In [38]:
def cube(n):
    return n**3
li= ['2','4','6','1','3','5']
li2= list(map(int,li))
tuple(map(float,li2))
numbers=[int(i) for i in li]
numbers=[int(i) for i in li]
[cube(i) for i in numbers]

[8, 64, 216, 1, 27, 125]

In [7]:
lift_A=0
lift_B=7
t= int(input())
for _ in range(t):
    n= int(input())
    A= abs(lift_A-n)
    B= abs(lift_B-n)
    if(A <= B):
        print("A")
        lift_A= n
    else:
        print("B")
        lift_B= n

2
3
A
5
A

In [8]:
n= int(input())
for i in range(1,n+1):
    print("*   *")
    print("*   *")
    print("*****")
print("*   *")
print("*   *")

4
*   *
*   *
*****
*   *
*   *
*****
*   *
*   *
*****
*   *
*   *
*****
*   *
*   *

In [12]:
print("Hello, Good morning!")

Hello, Good morning!

In [14]:
def factorial(num):
    if num ==1 :
        return num
    else:
        return num * (factorial(num-1)) 

print(factorial(5))

120

In [18]:
def absolute_value(num):
    if num >= 0:
        return num
    else:
        return -num

absolute_value(20)

20