In [1]:
print("Good Morning!", end="||")
print("Lashitha")

Good Morning!||Lashitha

In [4]:
num=int(input("Enter a number : "))
if num%2==0:
    print(num,"is an even number")
else:
    print(num,"is an odd number")

Enter a number : 4
4 is an even number

In [6]:
num1=int(input("enter a num1 : "))
num2=int(input("enter a num2 : "))
num3=int(input("enter a num3 : "))
if num1>num2 and num1>num3:
    print(num1," is greater")
elif num2>num1 and num2>num3:
    print(num2," is greater")
else:
    print(num3," is greater")

enter a num1 : 12
enter a num2 : 34
enter a num3 : 32
34  is greater

In [8]:
year=int(input("Enter year"))
if (year%4==0 and year%100!=0) or (year%400==0):
    print(year, "is a Leap year")
else:
    print(year,"is not a Leap year")

Enter year2023
2023 is not a Leap year

In [11]:
#program to check if a number exists in a given range
num= int(input("Enter a number : "))
lb= 50
ub= 150
if num>=lb and num<=ub:
    print(num," exists in the given range")
else:
    print(num,"does not exist in the given range")

Enter a number : 49
49 does not exist in the given range

In [13]:
num= 987654321
print(len(str(num)))

9

In [15]:
num = int(input("Enter a number"))
if num%10==0:
    print(num," is a multiple of 10")
else:
    print(num," is not a multiple of 10")

Enter a number23
23  is not a multiple of 10

In [23]:
#program to check if the given string is equal to number
s1= "Priya"
n1= 987654
if n1==s1:
    print(n1," is equal to",s1)
else:
    print(n1,"is not equal to", s1)

987654 is not equal to Priya

In [24]:
#program to calculate the number of nano seconds in a given year
year= 2019
if (year%4==0 and year%100!=0) or (year%400==0):
    print(366*24*60*60*(10**9))
else:
    print(365*24*60*60*(10**9))

31536000000000000

In [28]:
#Reverse string
def reverseString(s):
    return s[::-1]
print(reverseString("Vishnu Murthy"))

yhtruM unhsiV

In [38]:
def palindrome(s):
    if s==s[::-1]:
        return True
    else:
        return False
palindrome("lashi")

False

In [39]:
def countDigits(num):
    return len(str(num))
countDigits("Lashitha Vishnu Priya")

21

In [42]:
#program to print N Natural numbers
def nNaturalNumbers(num):
    counter=0
    while counter<=num:
        print(counter, end=" ")
        counter= counter+1
    return

nNaturalNumbers(50)

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [55]:
def reverseRange(start,end):
    for value in range(end, start-1,-1):
        print(value, end=" ")
    return

reverseRange(1,26)

26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [69]:
def reverseOdd(start,end):
    for i in range(end,start-1, -1):
        if i%2!=0:
            print(i, end=" ")
    return
reverseOdd(30,47)

47 45 43 41 39 37 35 33 31

In [76]:
#function to print all combincations of pairs of integers in a unique list
#[1,2,3] -> (1,2), (1,3), (2,3) -> formula: 3C2  -> 3!/(3-2)!* 2!

#[1,2,3,4] -> (1,2), (1,3), (1,4), (2,3), (2,4), (3,4)
#[1,2,3,4] -> (1,2,3), (1,2,4), (1,3,4), (2,3,4)

def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            print(li[i],li[j])
    return
li= [1,2,3,4]
combinations(li)

1 2
1 3
1 4
2 3
2 4
3 4

In [82]:
#Three combincations
def combincations(li):
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return
li= [1,2,3,4,5]
combincations(li)

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [85]:
#four combincations
def combincations(li):
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            for k in range(j+1,len(li)):
                for l in range(k+1,len(li)):
                    print(li[i],li[j],li[k],li[l])
    return
li= [1,2,3,4,5]
combincations(li)

1 2 3 4
1 2 3 5
1 2 4 5
1 3 4 5
2 3 4 5

In [108]:
#[1,2,3] -> [1,2,3] -> difference between the integers
def differencePairs(li):
    cli= li
    newelements= []
    for i in range(len(cli)-1):
        for j in range(i+1,len(cli)):
            d= abs(li[i]-li[j])
            if d not in cli:
                newelements.append(d)
    return newelements
li= [1,9,8,7,6,2,5,3,4]
differencePairs(li)

[]

In [10]:
def medium(li):
    while(True):
        li3= differencePairs(li)
        if li3[0]==li3[1]:
            break
        if len(li3[0])>=K:
            return sorted(li3[0], reverse= True)[]
    return -1 

# function to identify differences of all pairs of numbers
# pairs of numbers and add those differences to the same list
# it returns the updated list and original list 
def differencePairs(li):
    cli= li[:]
    newelements= []
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d= abs(int(li[i])-int(li[j])
            if d not in li and d not in newelements:
                newelements.append(str(d))
                   li.extend(newelements)
        return [cli,li]
        with open('DataFiles/medium-input.txt', '')
        t= int(f.readline())
        for i in range(t):
                   f.readline()
                   li=f.readline().split()
                   k=int(f.readline())
                   print(medium(li,k))
differencePairs(li)

SyntaxError: invalid syntax (<ipython-input-10-17a9e5b00eea>, line 7)

In [24]:
def differencePairs(li):
    cli= li[:]
    newelements= []
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d= abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
                li.extend(newelements)
        return li

li= [2,3,6,9,12,1,4,7,10,5,8,11]
differencePairs(li)

[2, 3, 6, 9, 12, 1, 4, 7, 10, 5, 8, 11]

In [30]:
a= {1,2,3,4,5,6,6}
a.add(26)
a

{1, 2, 3, 4, 5, 6, 26}

In [31]:
# Adding a single element to a set
a= {1,2,3,4,5,6,6}
a.add(26)
for i in a:
    print(i,end=" ")

1 2 3 4 5 6 26

In [36]:
b={7,8,9}
li=[11,12,13]
a.update(b,li)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 26}

In [37]:
a.discard(13)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 26}

In [38]:
a={10,1,2,3,4,5}
b={9,8,7,6}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [43]:
a={10,1,2,3,4,5}
b={9,8,7,6}
a.intersection(b)
a

{1, 2, 3, 4, 5, 10}

In [45]:
a.isdisjoint(b)

True

In [51]:
a={10,1,2,3,4,5}
b={9,8,7,6,5}
c={110,145}
a.intersection(b)
a

{1, 2, 3, 4, 5, 10}

In [52]:
a.isdisjoint(c)

True

In [53]:
a-b #elements of a which are not in b
a

{1, 2, 3, 4, 5, 10}

In [55]:
sorted(a)

[1, 2, 3, 4, 5, 10]

In [57]:
# created an empty set
d=set()
d

set()

In [59]:
li=[1,2,3,4,7,3,2,1,4]
u=set(li)
u

{1, 2, 3, 4, 7}

Procedural : C

Object Oriented : Java, Python

Scripting : PHP, Python, Java scripts, Shell scripting, Perl etc,...
    
Functional : Python, Haskell, Scala

Logic: Prolog, Lisp

In [64]:
### List Comprehensions

n=int(input("Enter number"))
li=[]
for i in range(1,n+1):
    li.append(i)
li

Enter number10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
li= [i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
#function to apply list comprehension to store the cubes of n natural numbers

li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [85]:
# function to calculate the factorial 

def Factorial(n):
    if n==0 or n==1:
        return 1
    return n* Factorial(n-1)

#apply list comprehension to calculate factorial of n natural numbers

n=5
FactorialList = [Factorial(i) for i in range(1,n+1)]
FactorialList

[1, 2, 6, 24, 120]

In [93]:
#store cumulative sum of numbers till n in 
# n = 5 -> [1,3,6,10,15]

n= int(input())
cumulativeSum= [sum(range(1,i+1)) for i in range(1,len(li)+1)]
cumulativeSum

5

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [95]:
def generateLeapYear(startyear,endyear):
    for year in range(startyear, endyear+1):
         if (year%4==0 and year%100!=0) or (year%400==0):
                print(year, end=" ")
    return
generateLeapYear(1970,2019)

1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016

In [102]:
li=[1,2,3,2,1]
unique=[]
unique=[i for i in range(0,len(li)-1) if sorted(li)[i]!= sorted(li)[i+1]]
unique

[1, 3]

In [107]:
li=[1,2,3,2,1,4,4,5,6,5,5]
u2=[]
unique=[]
unique=[i for i in range(0,len(li)-1) if sorted(li)[i]!= sorted(li)[i+1]]
#unique=[u2.append(i) for i in li if i not in u2]
unique

[1, 3, 4, 6, 9]

In [109]:
sorted(li)[0]

1

### Iterators
 
Iterable- Strings, Lists, Tupes, 

Convert iterable to iterator -> it 

For Loop:

Iterator:

In [128]:
it = iter('Lashitha')
print('1: ')
print(next(it))
print('\n')
print('2: ')
print(next(it))

1:
L


2:
a

### Generators

Generator is a user-defined function

In [143]:
def generator():
    n=1
    yield n
    
    n= n**3
    yield n
    
    n= n**3
    yield n
    
a=generator()
next(a)

1

In [145]:
def generator():
    n=2
    for i in range(1,5):
        n**=3
        yield n

a=generator()
next(a)
next(a)

512

In [150]:
def generator():
    n=2
    while True:
        n**=3
        yield n

a=generator()

for i in range(5):
    print(next(a))

8
512
134217728
2417851639229258349412352
14134776518227074636666380005943348126619871175004951664972849610340958208